$media-color: #619fa4;
$bg-mine-shaft-color: #323232;
$bg-mine-shaft-darker-color: darken( $bg-mine-shaft-color, 5 );

//MISC

    .btn-secondary
    {
        background-color: darken( desaturate( $media-color, 11 ), 19 );
        outline: none !important;
        color: white;

        &:hover, &:focus
        {
            background-color: $media-color;
            color: white;

        }
    }


// NEW HEADER
.media-page //body
{
	position: relative;
    background: #323232;

	header 
	{
		position: absolute; 
		top: 0;
		left: 0;
		right: 0;
		background: transparent;
		color: white;

        @media screen and (max-width: 767px) {
            position: relative;
        }

        .navbar-container 
        {  
            @media screen and (max-width: 767px) {
                    
                margin-bottom: 0;
            }
        }



        .navbar 
        { 
            background: $bg-mine-shaft-color;
            padding-bottom: 7px !important;
            padding-top: 12px !important;
            border-bottom: 1px solid lighten($bg-mine-shaft-color, 5%);
            
            position: fixed;
            top: 0;
            width: 100%;

            @media screen and (max-width: 767px) {
                    
                padding-bottom: 8px !important;
                padding-top: 8px !important;
            }

             &:after 
            {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                height: 40px;
                width: 100%;
                background: -webkit-gradient(linear,left top,left bottom,from(rgba(111,112,114,.3)),color-stop(10%,rgba(111,112,114,.2)),to(rgba(111,112,114,0)));
                /* background: linear-gradient(to bottom,rgba(111,112,114,.3) 0,rgba(111,112,114,.2) 10%,rgba(111,112,114,0) 100%); */
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
                pointer-events: none;
            }
            // &:after
            // {
            //     background: -webkit-gradient(linear,left top,left bottom,from(rgba(111,112,114,.3)),color-stop(10%,rgba(111,112,114,.2)),to(rgba(111,112,114,0))) !important;
            //     background: linear-gradient(to bottom,rgba(111,112,114,.3) 0,rgba(111,112,114,.2) 10%,rgba(111,112,114,0) 100%) !important; 
            // }

            //background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */

            &.navbar-unpinned
            {
                    transform: translateY(0);

                    &:after 
                    {
                        opacity: 1;
                    }
                    
                    
            }

            &.affix
            {
                //padding-bottom: 8px !important;
                //padding-top: 12px !important;
                //background: rgba(0, 0, 0, .5);

                // @media screen and (max-width: 767px) {
                    
                //     padding-bottom: 8px !important;
                //     padding-top: 8px !important;
                // }
                
            }
        }

        ul.media-nav-left
        {
            display: inline-block;
            float: left; 
            font-weight: 900;
            margin-bottom: 0;

            @media screen and (max-width: 767px) {
                font-size: 16px;
                margin-top: 7px;
            }

            li 
            {
                float: left;

                img.logo-desktop
                {
                    height: 14px;
                    margin-bottom: 3px; 

                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }

                 img.logo-mobile
                {
                    display: none; 
                    width: 34px;
                    height: auto;
                    margin-top:-6px;

                    @media screen and (max-width: 767px) {
                        display: block;
                        margin-top: -7px;
                        margin-right: 10px;
                    }
                }

                &.separator
                {
                    font-size: 75%; 
                    font-weight: 400;
                    -webkit-font-smoothing: none;
                    padding-top: 3px;

                    @media screen and (max-width: 767px) {
                        display: none;;
                    }
                }

            }
        }

        ul.media-nav-right 
        {
            display: inline-block;
            float: right;
            font-weight: 400;
            margin-bottom: 0;

            @media screen and (max-width: 767px) {
                font-size: 16px;
                margin-top: 7px;
            }

            li 
            {
                float: left;

                &.separator
                {
                    font-size: 75%; 
                    font-weight: 400;
                    -webkit-font-smoothing: none;
                    padding-top: 3px;
                }
            }
        }

        a 
        {
            color: white;

            &:hover
            {
                text-decoration: none;
            }
        }

        .is-glowing
        {
            -webkit-animation: is-glowing 4s ease-in-out infinite ; /* Safari 4+ */
            -moz-animation:    is-glowing 4s ease-in-out infinite ; /* Fx 5+ */
            -o-animation:      is-glowing 4s ease-in-out infinite ; /* Opera 12+ */
            animation:         is-glowing 4s ease-in-out infinite ; /* IE 10+, Fx 29+ */
        }
	}
}

//OVERLAYS 1 & 2, PLAYLIST
.media-page //body
{
    .main-content
    {
        position: relative;
        background: $bg-mine-shaft-color;
        overflow: hidden;
        margin-top: 50px;
        //cursor: pointer;

        @media screen and (max-width: 767px) {
            display: none;
            visibility: hidden;
            margin-top: 0;
        }

        //FIRST SCREEN WITH TITLE AND BIG PLAY BUTTON
        div.main-content-overlay
        {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;

            div.main-content-overlay-container
            {
                background: transparent;
                position: absolute; 
                bottom: 10%;
                padding-right: 14em;
                left: 50%;
                @include transform(translateX(-50%));

                @media screen and (max-width: 991px) {
                    padding-right: 6em;
                }
            }

            //BIG PLAY BUTTON
            img 
            {
                width: 100px;
                height: auto;
                margin-bottom: 20px;
                cursor: pointer;

                @media screen and (max-width: 1213px) {
                    width: 80px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: 991px) {
                    width: 60px;
                    margin-bottom: 5px;
                }
            }

            //TITLE
            h1 
            {

              font-size: 65px;
              font-family: "Ratio";
                margin-bottom: 10px;
              color: rgb(255, 255, 255);
              line-height: 0.995;
              text-align: left;
              text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

                @media screen and (max-width: 1213px) {
                    font-size: 48px;
                }

                @media screen and (max-width: 991px) {
                    font-size: 36px;
                    margin-bottom: 20px;
                }
            
            }
            
            //LEAD
            h2 
            {
              font-size: 24px;
              font-family: "Rooney";
              margin-top: 0;
              margin-bottom: 30px;
              color: rgb(255, 255, 255);
              line-height: 1.361;
              text-align: left;
              text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

              @media screen and (max-width: 1213px) {
                    font-size: 20px
                }

                @media screen and (max-width: 991px) {
                    display: none;
                }
          
            }

            //SOCIAL ICONS
            div.main-content-overlay-container-social
            {
                font-size: 28px;
                color: white;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

                @media screen and (max-width: 991px) {
                        font-size: 22px;
                    }

                i 
                {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }

        //SECOND SCREEN, COMES WHEN VID PAUSED OR ENDED
        div.main-content-overlay2
        {
            position: absolute;  
            width: 100%;
            height: 100%;
            z-index: 1;
            display: none;

            div.main-content-overlay2-container
            {
                width: 1025px;
                background: transparent;
                position: absolute; 
                bottom: 23%;
                padding-right: 14em;
                left: 50%;
                @include transform(translateX(-50%));

                @media screen and (max-width: 1213px) {
                    width: 970px;
                    bottom: 25%;
                }

                @media screen and (max-width: 991px) {
                    width: 750px;
                    padding-right: 20em;
                    bottom: 26%;
                }

                //TITLE SMALL
                h3 
                {
                    max-width: 500px; 
                    font-size: 32px;
                    font-family: "Ratio";
                    color: rgba(255, 255, 255, 1);
                    line-height: 1.24;
                    text-align: left;
                    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
                    font-weight: 300;   
                    margin-bottom: 15px;

                    @media screen and (max-width: 991px) {
                        font-size: 26px;
                    }
                }
                
                //SOCIAL
                div.main-content-overlay2-container-social
                {
                    font-size: 28px;
                    color: white;
                    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

                    @media screen and (max-width: 991px) {
                        font-size: 22px;
                    }

                    i 
                    {
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        //PLAYLIST
        div.main-content-playlist
        {
            position: absolute;
            z-index: 4;
            width:100%;
            height: 165px;
            background: $bg-mine-shaft-darker-color;
            bottom: 0;
            @include transform(translateY(100%));
            transition: all 0.4s;

            @media screen and (max-width: 1213px) {
                height: 140px;
            }

            @media screen and (max-width: 991px) {
                height: 110px;
            }

            &.is-open { @include transform(translateY(0)); transition: all 0.4s;}

            div.main-content-playlist-title
            {
                position: absolute;
                top: 0;
                left: 50%;
                @include transform(translate(-50%, -100%));
                background: $bg-mine-shaft-darker-color;
                padding: 2px 10px;
                cursor: pointer;

                &:hover p { opacity: .8; }

                p 
                {
                    margin: 0;
                    font-family: 'Rooney';
                    opacity: .6;
                    font-size: 20px;

                    i { font-size: 90% }
                }

                div.main-content-playlist-title-rtriangle
                {
                    @include triangle(28px 36px, $bg-mine-shaft-darker-color, down-left);
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include transform(translateX(98%));
                }

                div.main-content-playlist-title-ltriangle
                {
                    @include triangle(28px 36px, $bg-mine-shaft-darker-color, down-right);
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include transform(translateX(-98%));
                }
            }

            div.main-content-playlist-container //#playlist-carousel
            {
                //width: 100%;
                height: 100%;
                padding: 15px 100px;
                
                .carousel-inner
                {
                    //background: red;
                    height: 100%;

                    .item
                    {
                        height: 100%;
                        
                        li.item-video 
                        {
                            //width: 50px;
                            height: 100%;
                            width: 25%;
                            //background: yellow;
                            float: left;
                            list-style: none;
                            padding: 0 10px;
                            // position: relative;
                            cursor: pointer;

                            @media screen and (max-width: 991px) {
                                padding: 0 5px;
                            }
                            
                            &.is-highlighted div.item-video-container-border 
                            { 
                                border: 3px solid white; 
                                border-radius: 2px;

                                @media screen and (max-width: 991px) {
                                    border: 2px solid white; 
                                }
                            }
                            


                            div.item-video-container
                            {
                                width: 100%;
                                height: 100%;
                                background: yellow;
                                
                                position: relative;

                                img
                                {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover; 
                                }

                                span.caption 
                                {
                                    position: absolute;
                                    width: 100%;
                                    bottom: 0;
                                    background: rgba(0, 0, 0, .6);
                                    border-bottom: 0; 
                                    font-family: 'Ratio';
                                    font-weight: 500; 
                                    font-size: 16px;
                                    height: 38px;
                                    padding: 8px;
                                    z-index:10;
                                    left:0;
                                    right: 0;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    
                                    @media screen and (max-width: 991px) {
                                        font-size: 14px;
                                        height: 25px;
                                        padding:4px 6px;
                                    } 

                                }

                                div.item-video-container-border
                                {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    //background: red;
                                    z-index: 11;
                                }
                            }
                        }

                        .carousel-caption
                        {
                            display: none;
                        }
                    }
                }

                .carousel-control
                {
                    width: 100px ;
                    background: transparent;
                }
            }
        }
    }
}

//MAIN PLAYER
.media-page //body
{
    .main-content
    {
        div.video-wrapper
        {
            width: 100%;
            max-width: 1600px;
            margin: auto;
            position: relative;
            background: gray;

            &:after 
            {   /* 16:9 ratio */
                padding-top: 56.25%;
                display: block;
                content: '';
            }

            div.video-js 
            {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;  
                color: white;  
        
                video 
                {
                    width: 100%;
                    height: auto;
                }

                div.vjs-dock-text
                {
                    height: 100%;
                    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,8) 100%); /* FF3.6-15 */ 
                    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,8) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    opacity: 0.5;
                    transition: opacity 0.4s;
                }

                div.vjs-control-bar
                {
                    z-index: 3;
                    @include transform(translateY(0) !important); 
                    margin: auto;
                    max-width: 1045px;
                    background-color: rgba(0,0,0,0) !important;
                    color: #ffffff;
                    font-size: 20px;
                    font-family: ratio;
                    bottom: 11%;
                    transition: opacity 0.4s!important;
                    opacity: 1;

                    @media screen and (max-width: 1213px) {
                      max-width: 990px;
                    }

                    @media screen and (max-width: 991px) {
                      max-width: 770px;
                    }

                    &.is-playlist-hidden
                    {
                        opacity: 0;
                        transition: opacity 0.4s;
                    }
                }

                div.vjs-progress-control
                {
                    height: .37em!important;

                    &:hover
                    {
                        height: .37em!important;
                    }
                }
            }
        }
    }
}

//LAST VIDEOS
.media-page //body
{
    .last-contents
    {
        div.row { display: flex;  flex-wrap: wrap; }

        .last-contents-wrapper
        {
            &:first-child 
            { 
                display: none;

                @media screen and (max-width: 767px) {
                  display: block;
                }
            }
        }
    }

    .most-viewed
    {
        li 
        {
            &:before
            {
                font-family: Tungsten, Tungsten-Medium, Arial,sans-serif;
            }

            a
            {
                &:hover
                {
                    color: $media-color;
                }
            }
        }
    }
}

.media-page //body
{
    div.makeyourown-mobile
    {
        display: none;
        width: 100%;
        background: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 );

        @media screen and (max-width: 767px) {
          display: block;
        }

        select 
        {
            padding: 2px 10px;
            width: 100%;
            border: none;
            font-size: 16px;
            height: 34px;
            margin-bottom: 15px;
            font-family: 'Helvetica Neue', 'Arial', sans-serif;
            font-weight: 400;
            color: #555;
        }

        hr 
        {
            margin-top: 5px;
            margin-bottom: 20px;
            border-top: 1px solid #6f7072;
        }
    } 
}

.media-page //body
{
    div.makeyourown-desktop
    {
        padding-bottom: 45px;
        background: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 );

        @media screen and (max-width: 767px) {
          display: none;
        }

        .btn 
        {
            padding-bottom: 5px;
            padding-top: 5px;

            &.is-selected
            {
                background-color: $media-color;
            }
        }

        div.makeyourown-desktop-choice1
        {
            margin-bottom: 25px;

            div.btn-group
            {
                width: 100%;

                .btn 
                {
                    text-transform: initial;
                    font-family: Rooney;
                    width: calc(100% / 8 - 8px);
                    margin-right: 10px;

                    @media screen and (max-width: 991px) {
                        width: calc(100% / 4 - 8px);

                        &:nth-child(-n+4)
                        {
                            margin-bottom: 8px;
                        }

                        &:nth-child(4)
                        {
                            margin-right: 0;
                        }

                        &:nth-child(5)
                        {
                             margin-left: 0;
                        }
                    }

                    &:last-child { margin-right: 0; }
                }
            }
        }

        div.makeyourown-desktop-choice2
        {
            div.btn-group
            {
                width: 100%;

                .btn 
                {
                    text-transform: initial;
                    font-family: Rooney;
                    width: calc(100% / 6 - 8px);
                    margin-right: 10px;

                    &:last-child { margin-right: 0; }
                }
            }
        }
    }
}

.media-page //body
{
    div.series
    {
        padding-bottom: 70px; 

        div.series-item
        {
            cursor: pointer;
            margin-bottom: 30px;

            &:hover 
            {
                .series-item-header-gradient { opacity: .5 !important; }
                .series-item-header-title { text-decoration: underline; }
            }

            @media screen and (max-width: 991px) {
                
            }

            .series-item-header
            {
                position: relative;

                .series-item-header-gradient
                {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,8) 100%); /* FF3.6-15 */ 
                    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,8) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    opacity: 0.6;
                }

                .series-item-header-container
                {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 35px 25px;

                    @media screen and (max-width: 1213px) {
                      padding: 20px 15px;
                    } 

                    .series-item-header-title
                    {
                        font-size: 37.5px;
                        font-family: "Ratio";
                        color: white;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 1.1;
                        text-shadow: 0px 1px 0.97px rgba(0, 0, 0, 1);
                        margin-bottom: -5px;
                         
                        @media screen and (max-width: 1213px) {
                          font-size: 30px;
                        }   

                    }

                     .series-item-header-count
                    {
                        background: $media-color;
                        font-family: 'Rooney';
                        color: white;
                        font-weight: 900;
                        padding:1px 5px 3px 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

footer 
{
    background: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 ) !important;

    .onoffswitch-label 
    {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 3px solid #FFFFFF;
        border-radius: 20px;

        .onoffswitch-inner
        {
            &:after
            {
                background-color: #262626;
            }
        }
    }

    .footer-bottom 
    {
        background: #262626;

        .logo 
        {
            width: 200px;
        }

        .btn 
        {
            color: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 ) !important;;
            background-color: white !important; 
        }
    }
}

// GLOWING LIST ICON ANIMATION
@-webkit-keyframes is-glowing {
  0%   { text-shadow: 0 0 10px rgba(255, 255, 255, .11), 0 0 20px rgba(255, 255, 255, .11), 0 0 30px rgba(255, 255, 255, .11), 0 0 40px rgba(255, 255, 255, 1), 0 0 70px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 1), 0 0 150px rgba(255, 255, 255, 1); }
  20%   { text-shadow: 0 0 10px rgba(255, 255, 255, .08), 0 0 20px rgba(255, 255, 255, .08), 0 0 30px rgba(255, 255, 255, .08), 0 0 40px rgba(255, 255, 255, .8), 0 0 70px rgba(255, 255, 255, .8), 0 0 80px rgba(255, 255, 255, .8), 0 0 100px rgba(255, 255, 255, .8), 0 0 150px rgba(255, 255, 255, .8); }
  100% { text-shadow: 0; }
}
@-moz-keyframes is-glowing {
  0%   { text-shadow: 0 0 10px rgba(255, 255, 255, .11), 0 0 20px rgba(255, 255, 255, .11), 0 0 30px rgba(255, 255, 255, .11), 0 0 40px rgba(255, 255, 255, 1), 0 0 70px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 1), 0 0 150px rgba(255, 255, 255, 1); }
  20%   { text-shadow: 0 0 10px rgba(255, 255, 255, .08), 0 0 20px rgba(255, 255, 255, .08), 0 0 30px rgba(255, 255, 255, .08), 0 0 40px rgba(255, 255, 255, .8), 0 0 70px rgba(255, 255, 255, .8), 0 0 80px rgba(255, 255, 255, .8), 0 0 100px rgba(255, 255, 255, .8), 0 0 150px rgba(255, 255, 255, .8); }
  100% { text-shadow: 0; }
}
@-o-keyframes is-glowing {
  0%   { text-shadow: 0 0 10px rgba(255, 255, 255, .11), 0 0 20px rgba(255, 255, 255, .11), 0 0 30px rgba(255, 255, 255, .11), 0 0 40px rgba(255, 255, 255, 1), 0 0 70px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 1), 0 0 150px rgba(255, 255, 255, 1); }
  20%   { text-shadow: 0 0 10px rgba(255, 255, 255, .08), 0 0 20px rgba(255, 255, 255, .08), 0 0 30px rgba(255, 255, 255, .08), 0 0 40px rgba(255, 255, 255, .8), 0 0 70px rgba(255, 255, 255, .8), 0 0 80px rgba(255, 255, 255, .8), 0 0 100px rgba(255, 255, 255, .8), 0 0 150px rgba(255, 255, 255, .8); }
  100% { text-shadow: 0; }
}
@keyframes is-glowing {
  0%   { text-shadow: 0 0 10px rgba(255, 255, 255, .11), 0 0 20px rgba(255, 255, 255, .11), 0 0 30px rgba(255, 255, 255, .11), 0 0 40px rgba(255, 255, 255, 1), 0 0 70px rgba(255, 255, 255, 1), 0 0 80px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 1), 0 0 150px rgba(255, 255, 255, 1); }
  20%   { text-shadow: 0 0 10px rgba(255, 255, 255, .08), 0 0 20px rgba(255, 255, 255, .08), 0 0 30px rgba(255, 255, 255, .08), 0 0 40px rgba(255, 255, 255, .8), 0 0 70px rgba(255, 255, 255, .8), 0 0 80px rgba(255, 255, 255, .8), 0 0 100px rgba(255, 255, 255, .8), 0 0 150px rgba(255, 255, 255, .8); }
  100% { text-shadow: 0; }
}

