footer 
{
    background: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 ) !important;

    .onoffswitch-label 
    {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 3px solid #FFFFFF; 
        border-radius: 20px;

        .onoffswitch-inner
        {
            &:after
            {
                background-color: #262626;
            }
        }
    }

    .footer-bottom 
    {
        background: #262626;

        .logo 
        {
            width: 200px;
        }

        .btn 
        {
            color: darken( desaturate( adjust-hue( $media-color, 9deg ), 13 ), 26 ) !important;;
            background-color: white !important; 
        }
    }
}